<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissions for Internet, Notifications, and Network State -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" /> <!-- Required for Android 13+ -->
    <!-- Optional permission for accessing location, if using Google Maps or Location Services -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinanceApp"
        tools:targetApi="31">
        <activity
            android:name=".screens.OTPVerificationActivity"
            android:exported="false" />
        <!-- Firebase metadata configuration -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/notification_icon" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/cardview_light_background" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" /> <!-- Activities and their configurations -->
        <activity
            android:name=".screens.GraphicallyData"
            android:exported="false" />
        <activity
            android:name=".screens.AddBudgetActivity"
            android:exported="true" />
        <activity
            android:name=".screens.BudgetActivity"
            android:exported="true" />
        <activity
            android:name=".screens.ExpenseRepository"
            android:exported="true" />
        <activity
            android:name=".screens.AddExpenseActivity"
            android:exported="true" />
        <activity
            android:name=".screens.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".screens.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".screens.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>